* {
    font-size: 1.3vw;
    font-family: "Epilogue", sans-serif;
}

html {
    --scrollbarBG: #fff;
    --thumbBG: #268dc0b8;

}

body {

    background-image: url("./images/bot1.jpg");
    background-repeat: no-repeat;
    background-size: 125%;
    backdrop-filter: 1px;
}

body .card {
    height: 46vw;
    width: 35vw;
    background-color: rgba(255, 255, 255, 0.074);
    margin-left: 30vw;
    margin-top: 1.3vw;    
    background-image: url("./images/bot2.png");
    background-repeat: no-repeat;
    background-size:40vw;
    box-shadow: whitesmoke 0 0 30px;
    
}

body .card #header {
    height: 5vw;
    background: red;
    padding: 0vw;
}

body .card #header h1 {
    color: #fff;
    font-size: 2vw;
    font-family: cursive;
    padding: 0.9vw;
}

body .card #header #mj {
    color: skyblue;
    font-size: 2.5vw;
    font-family: 'Segoe UI' cursive;
    padding: 1vw;
}


body .card #message-section::-webkit-scrollbar {
    width: 2px;
}

body .card #message-section {
    height: 32vw;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    
}

body .card #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body .card #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

body .card #message-section #bot,
body .card #message-section #user {
    position: relative;
    bottom: 0;
    min-height: 1.3vw;
    border: 1.5px solid #140101;
    background-color: #fff;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 1vw;
    margin: 1.5vw 0;
}

body .card #message-section #user {
    border: 1.5px solid #000;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    background-color: skyblue;
    float: right;
    min-width: 1.3vw;
}

body .card #message-section #user #user-response {
    color: black;
}

body .card #message-section .message {
    color: black;
    clear: both;
    line-height: 1.2vw;
    font-size: 1.2vw;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
}

body .card #input-section {
    z-index: 1;
    padding: 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 5vw;
    width: 120%;
}

body .card #input-section input {
    color: rgb(16, 0, 0);
    min-width: 0.5vw;
    outline: none;
    height: 5vw;
    width: 26vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 0.1vw;
}

body .card .send {
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 1.4vw;
    margin-right: 0vw;
    padding: 10px;
    position: relative;
    color: yellow;
    outline: none;
}

body .card .send .circle {
    position: relative;
    width: 4.8vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .card .send .circle i {
    font-size: 3vw;
    margin-left: -1vw;
    margin-top: 1vw;
}

.fa {
    padding: 12\px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    margin: 1px;
}

.fa:hover {
    opacity: 0.7;
}
